.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__body {
  display: flex;
  width: 100%;
}

.sidebar__recentItem {
  display: flex;
  font-size: 13px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.sidebar__bottom > p {
  font-size: 13px;
  padding-bottom: 10px;
}

.sidebar__recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.sidebar__hash {
  margin-right: 10px;
  margin-left: 5px;
}
